.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  clear: both; }

section {
  width: 1000px;
  background: #2f4051; }

.section_info {
  float: left;
  width: 300px; }

.section_slider-inner {
  width: 660px;
  height: 450px;
  position: relative;
  overflow: hidden;
  float: right;
  padding: 5px;
  border: #666 solid 2px; }
  .section_slider-inner img {
    display: none;
    width: 660px;
    height: 450px; }
  .section_slider-inner .active {
    display: inline-block; }

.prev, .next {
  width: 30px;
  height: 30px;
  background: #000;
  cursor: pointer; }

.prev {
  position: relative;
  top: 300px;
  z-index: 100; }

.next {
  z-index: 100;
  position: relative; }

article {
  width: 1000px;
  float: left; }

.article_slider-inner {
  width: 1000px;
  height: 450px;
  position: relative;
  overflow: hidden;
  float: right;
  padding: 25px;
  border: #666 solid 2px; }
  .article_slider-inner p {
    display: none;
    width: 760px;
    height: 450px; }
  .article_slider-inner .active {
    display: inline-block; }

.previous, .other {
  width: 30px;
  height: 30px;
  background: #000;
  cursor: pointer; }

.previous {
  position: relative;
  top: 100px;
  z-index: 100; }

.other {
  z-index: 100;
  position: relative;
  top: 100px; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  font-family: 'Agne';
  font-weight: 400;
  -ms-touch-action: none;
  touch-action: none; }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus, a:active {
    outline: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-moz-placeholder,
input[type='tel']:focus:-moz-placeholder,
input[type='email']:focus:-moz-placeholder,
input[type='password']:focus:-moz-placeholder,
input[type='search']:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

html, body,
div, span,
applet, object,
iframe, h1,
h2, h3,
h4, h5,
h6, p,
blockquote, pre,
a, abbr,
acronym, address,
big, cite,
code, del,
dfn, em,
img, ins,
kbd, q, s,
samp, small,
strike, strong,
sub, sup,
tt, var,
b, u, i,
center, dl,
dt, dd,
ol, ul, li,
fieldset, form,
label, legend,
table, caption,
tbody, tfoot,
thead, tr,
th, td, article,
aside, canvas,
details, embed,
figure, figcaption,
footer, header,
hgroup, menu,
nav, output,
ruby, section,
summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/mont/montserrat.woff2"), url("../fonts/mont/montserrat.woff"); }
