.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


section {
  width: 1000px;
  //overflow: auto;
  background: #2f4051;
}

.section_info {
  float: left;
  width: 300px;
}

.section_slider-inner {
  width: 660px;
  height: 450px;
  position: relative;
  overflow: hidden;
  float: right;
  padding: 5px;
  border: #666 solid 2px;
  
  img {
    display: none;
    width: 660px;
    height: 450px;
  }
  .active {
    display: inline-block;
  }
}

.prev,.next {
  width: 30px;
  height: 30px;
  background: #000;
  cursor: pointer;
}

.prev {
  position: relative;
  top: 300px;
  z-index: 100;
}

.next {
  z-index: 100;
  position: relative;
}
